body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.qr-box {
    width: 90%;
    max-width: 500px;
    margin: 100px auto;
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
}

.qr-box input {
    width: 90%;
    padding: 10px;
    margin: 15px 0;
}

.qr-box button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#qrResult {
    margin-top: 20px;
}